<launch>
  <node pkg="rosserial_python"
        type="serial_node.py"
        name="twoArduino_LED"
        output="screen">

        <param name="port" value="/dev/ttyUSB0"/>
        <param name="baud" value="57600"/>
  </node>

  <!-- <node pkg="rosserial_python"
        type="serial_node.py"
        name="twoArduinos_RandNo"
        output="screen">

        <param name="port" value="/dev/ttyUSB2"/>
        <param name="baud" value="57600"/>
  </node> -->

  <!-- <node
    name="random_number"
    pkg="turtlebot3_rosserial"
    type="displayCal.py"
    output="screen" /> -->
</launch>
